[*]
indent_style = space

[{*.ts, *.tsx}]
indent_size = 4
# IntelliJ Settings
ij_typescript_use_double_quotes = false
ij_typescript_force_quote_style = true

[{*.js, *.jsx}]
indent_size = 4
ij_javascript_use_double_quotes = false
ij_javascript_force_quote_style = true

[index.ts]
indent_size = 2

[{*.json, *.md, *.scss}]
indent_size = 2

[*.scss]
ij_scss_use_double_quotes = false
ij_scss_enforce_quotes_on_format = true
