div.editor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  #editor-lines {
    width: 55px;
    margin-right: 25px;
    div {
      text-align: right;
    }
  }

  #editor-content {
    // noinspection CssInvalidPropertyValue
    width: -webkit-fill-available;
  }
}
