div.body {
  height: calc( 100% - 44px );
}

div.body-col {

  // There is a <div> before
  &:nth-child(1) {
    max-width: 300px;
    width: 30%;
    height: 100%;
    overflow-y: auto;

    .ms-FocusZone.ms-DetailsHeader {
      padding: 0;
    }

    &::-webkit-scrollbar {
      width: 5px;
      background-color: #fff;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0);
      transition-property: all;
      transition-duration: 0.2s;
    }

    &:hover::-webkit-scrollbar-thumb {
      background: rgba(221, 221, 221, 1);
    }

    &::-webkit-scrollbar-button {
      display: none;
    }
  }
}
