div.body {
  height: calc( 100% - 44px );
}

div.body-col {

  // There is a <div> before
  &:nth-child(1) {
    max-width: 300px;
    width: 30%;
    height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 5px;
      background-color: #fff;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #bbb;
      opacity: 0;
      transition-property: opacity;
      transition-duration:
        0.2s;
    }

    &:hover::-webkit-scrollbar-thumb {
      opacity: 1;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }
  }
}
