@import 'style/vars';
/* https is required because when loading file in production mode, it is file:/// */
@import url('https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabric.min.css');

html, body, div#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
}

div#menubar {
  position: sticky;
  z-index: 9999999;
  font-family: 'Segoe UI', 'Microsoft YaHei UI', 'Microsoft JhengHei UI', -apple-system, 'Apple System', 'Arial', sans-serif;
  font-size: $font-size;
  color: $G800;
  width: 100%;
  height: $menubar-height;
  background-color: $G100;
  -webkit-app-region: drag;
  line-height: $menubar-height;
  text-align: center;

  .button {
    height: $menubar-height;
    width: $menubar-height;
    border: none;
    background-color: transparent;
    float: right;
    -webkit-app-region: no-drag;
    outline: none;
    cursor: pointer;
    color: $G800;

    &:hover {
      background-color: $G300;
    }

    &.close-button {
      color: $err-border;
    }
  }

  #icon {
    padding: 0 10px;
    font-weight: 600;
    float: left;
    display: inline-block;
  }
}

.ms-CommandBar {
  padding: 0;
  width: 100%;
}
